body {
  margin: 2%;
  padding: 0;
  box-sizing: border-box;
}

.navbar {
  background-color: #f2c57c;
  box-shadow: 0 8px 13px #979696;
}

.navbar-menu{
  background-color: #f2c57c;
  box-shadow: none;
}

.nav-item {
  border-right: 2px solid rgb(168, 168, 168);
}

.get-location {
  text-decoration: none;
}

.logo-img {
  height: 100%;
  width: 100%;
}

.font {
  font-family: "Poppins", sans-serif;
}

.avatar {
  width: 15%;
  border-radius: 45%;
  border: 2px solid #4e4e4e;
  z-index: 1000;
  animation-duration: 5s;
}

.message-header {
  background-color: #f2c57c;
}

.about {
  box-shadow: 0 8px 13px #979696;
}

.consult-btn{
  text-decoration: none;
}

.notification{
  display: none;
  padding: 0;
}

.bg-color {
  background-color: #d2fdff;
}

.card1,
.card2,
.card3{
  transition: all .8s ease;
}

.card1:hover,
.card2:hover,
.card3:hover{
  transform: translateY(-30px);
}

#card-svg1,
#form-svg {
  position: absolute;
  width: 100%; 
  height: auto;
}

#carousel{
  box-shadow: 0 8px 13px #979696;
}

.vid-overlay video {
  width: 100%;
}

.vid-overlay::before {
  content: " ";
  position: absolute;
  background: rgba(0, 0, 0, 0.5);
  border-radius: 5px;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

#service1,
#service2,
#service3 {
  height: 200px;
}

#check-btn{
  text-decoration: none;
}

.socials{
  background-color: #d2fdff;
}

.social-icon{
font-size: 3rem;
text-decoration: none;
}

.instagram{
  margin-left: 90%;
}

.copyright{
  margin: 0;
  padding: 3%;
  background-color: #27c4c4;
}

.my-name{
  text-decoration: none;
  color: #000;
}

@media (max-width: 1024px) {
  #service1,
  #service2,
  #service3 {
    height: 150px;
  }
}

@media (max-width: 600px) {
  .instagram{
    margin-left: 80%;
  }
}

@media (max-width: 700px) {
  .avatar {
    width: 40%;
  }
}
